.jimu-widget-demo div:first-child {
  color: red;
}


.flex-container-PC {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* from left to right */
  justify-content: space-evenly;
  /* from top to bottom */
  align-items: center;
  height: 50%;
}

.flex-container-PC>div {
  /* background-color: #000000; */
}

.break {
  flex-basis: 100%;
  height: 0;
}

.slider-color {
  -webkit-appearance: none;

  width: 100%;

  height: 15px;

  border-radius: 5px;

  background:
    #d3d3d3;

  background-color:

    rgb(177, 169, 168);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;

  outline: none;

  outline-color: currentcolor;
  outline-style: none;
  outline-width: medium;

  opacity: 0.7;

  -webkit-transition: opacity .15s ease-in-out;

  transition: opacity .15s ease-in-out;

  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.slider-color::-moz-range-thumb {

  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background:
    #73301F;
  cursor: pointer;

}

.slider-color:hover {
  opacity: 1;
}



/* For the future, the following can be improved -- directly copied from Splash style.css */

.selectButton {
  background-color: #73301F;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

  text-align: center;
  width: 140px;
  height: 30px;
}

.selectButton-content {
  display: none;
  position: absolute;
  background-color: #808080;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.enterDataCSS {
  background-color: rgb(177, 169, 168);
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

  text-align: center;
  width: 140px;
  height: 30px;

}


/* Sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}


.slider0 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(177, 169, 168);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider0:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked+.slider0 {
  background-color: #73301F;
}

input:focus+.slider0 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider0:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider0:after {
  content: "2013";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 60%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

input:checked+.slider0:after {
  top: 48%;
  font-weight: bold;
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-35px);
}

/*--------- due to time crunch, I'm modifying the css files the inefficient way (should be able to
modify the data via javascript on construction, but nothing I've tried yet has changed the 'content' field --------*/
.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(177, 169, 168);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked+.slider1 {
  background-color: #73301F;
}

input:focus+.slider1 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider1:after {
  content: "2014";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 60%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

input:checked+.slider1:after {
  top: 48%;
  font-weight: bold;
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-35px);
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(177, 169, 168);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked+.slider2 {
  background-color: #73301F;
}

input:focus+.slider2 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider2:after {
  content: "2015";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 60%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

input:checked+.slider2:after {
  top: 48%;
  font-weight: bold;
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-35px);
}

.slider3 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(177, 169, 168);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider3:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked+.slider3 {
  background-color: #73301F;
}

input:focus+.slider3 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider3:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider3:after {
  content: "2016";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 60%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

input:checked+.slider3:after {
  top: 48%;
  font-weight: bold;
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-35px);

}


.slider4 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(177, 169, 168);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider4:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked+.slider4 {
  background-color: #73301F;
}

input:focus+.slider4 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider4:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider4:after {
  content: "2017";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 60%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

input:checked+.slider4:after {
  top: 48%;
  font-weight: bold;
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-35px);
}

.slider5 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(177, 169, 168);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider5:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked+.slider5 {
  background-color: #73301F;
}

input:focus+.slider5 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider5:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider5:after {
  content: "2018";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 60%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

input:checked+.slider5:after {
  top: 48%;
  font-weight: bold;
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-35px);
}