<div class="flex-container-PC">


  <!-- <div>View graphic for: </div> -->
  <div id="graphz">
    <select data-dojo-attach-point="selectGraph" data-dojo-type="dijit/form/Select">
      <option value="Choose one:" title="Choose one:">View Graphic</option>
      <option value="Averages by Jurisdiction" title="Averages by Jurisdiction">Average Values</option>
      <option value="RPA in Current Extent" title="RPA in Current Extent">RPA</option>
    </select>
  </div>
  <!-- <div id="avgTitle">View Average Values for: </div> -->
  <div> or </div>

  <div>
    <select data-dojo-attach-point="selectAVG" data-dojo-type="dijit/form/Select">
      <option value="Choose one:" title="Choose one:">View Field</option>
      <option value="ALLIG" title="Average ALLIG">ALLIG</option>
      <option value="AVG_FLT" title="Average AVG_FLT">AVG_FLT</option>
      <option value="FAILURE" title="Average FAILURE">FAILURE</option>
      <option value="FAIL_COUNT" title="Average FAIL_COUNT">FAIL_COUNT</option>
      <option value="LONG" title="Average LONG">LONG</option>
      <option value="LONG_NP" title="Average LONG_NP">LONG_NP</option>
      <option value="LONG_WP" title="Average LONG_WP">LONG_WP</option>
      <option value="IRI" title="Average IRI">IRI</option>
      <option value="PATCH_B" title="Average PATCH_B">PATCH_B</option>
      <option value="PATCH_G" title="Average PATCH_G">PATCH_G</option>
      <option value="PCI" title="Average PCI">PCI</option>
      <option value="PCI6" title="Average PCI6">PCI6</option>
      <option value="RUT" title="Average RUT">RUT</option>
      <option value="TRANS" title="Average TRANS">TRANS</option>
    </select>
  </div>

  <div class="break"></div> <!-- break to a new row -->



  <div id="yearz" style="flex-grow:1">

  </div>


  <!-- <div>View Minimum Values for: </div>
  <div>
    <select data-dojo-attach-point="selectMIN" data-dojo-type="dijit/form/Select">
      <option value="Choose one:" title="Choose one:">––</option>
      <option value="Minimum IRI" title="Minimum IRI">IRI</option>
      <option value="Minimum RUT" title="Minimum RUT">RUT</option>
    </select>
  </div> -->

  <div id="yearBrk" class="break"></div> <!-- break to a new row -->

  <!-- <div>View Maximum Values for: </div>

  <div>
    <select data-dojo-attach-point="selectMAX" data-dojo-type="dijit/form/Select">
      <option value="Choose one:" title="Choose one:">––</option>
      <option value="Maximum IRI" title="Maximum IRI">IRI</option>
      <option value="Maximum RUT" title="Maximum RUT">RUT</option>
    </select>
  </div> -->

  <div><input type="range" min="1" max="100" value="50" class="slider-color" id="id1"></div>


  <div class="break"></div> <!-- break to a new row -->

</div>